.wrapper {
  margin-top: 40px;
  width: 100%;
  height: 100px;
  background-color: grey;
  border-radius: 25px;
  background: var(--blue);
  box-shadow: 5px 5px 25px #8ca7b4, -5px -5px 25px #eaffff;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 800;
  max-width: 700px;
}

.searchInput {
  margin-top: 10px;
  height: 100px;
  width: 90%;
  border-radius: 20px;
  background: #dfeff7;
  box-shadow: inset 20px 20px 60px #becbd2, inset -20px -20px 60px #ffffff;
  overflow: hidden;
}

.searchInput__input {
  border: none;
  width: 100%;
  height: 100%;
  font-size: 1.2rem;
  padding-left: 20px;
  padding-right: 20px;
}

.searchInput__input:hover {
  cursor: pointer;
}

.searchInput__input:focus-within {
  cursor: text;
  border-radius: 20px;
  background: #edf5fa;
  box-shadow: inset 20px 20px 60px #eef1f3, inset -20px -20px 60px #ffffff;
}
