{
  "presets": [
    // Modern JS to -> ES5 
    "@babel/preset-env", 
    // JSX
    "@babel/preset-react"
  ],
  "plugins": [
    ["babel-plugin-react-css-modules",
       {
      "webpackHotModuleReloading": true,
      "autoResolveMultipleImports": true
    }],
    ["@babel/plugin-transform-runtime", {
      "regenerator": true
    }]
  ]
}