html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
del,
dfn,
em,
img,
small,
strike,
strong,
b,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
  color: rgba(60, 60, 60);
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}

/* Color Palette */
:root {
  --blue: #bbdef0;
  --green: #00a6a6;
  --yellow: #efca08;
  --orange: #f49f0a;
  --tangerine: #f08700;
}

textarea:focus,
input:focus {
  outline: none;
}
